<!-- Chat Beginning -->
<div class="row">
  <div class="col-xl-3 col-lg-4">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          Online Users
        </h6>
      </div>
      <div class="card-body" style="height: 75vh; overflow: auto !important;">
        <div class="contacts-nav">
          <div class="contacts">
            <div
              class="contact border-left-primary"
              (click)="selectUser(everyOne)"
            >
              <div class="img">
                <img
                  class="online"
                  src="https://randomuser.me/api/portraits/men/53.jpg"
                  alt="Contact Image"
                />
              </div>
              <div class="text">
                <h4>{{ everyOne.username }}</h4>
                <p>{{ OnlineUsers.length }} people online!</p>
              </div>
            </div>
            <div
              class="contact"
              *ngFor="let user of OnlineUsers"
              (click)="selectUser(user)"
            >
              <div class="img">
                <img
                  class="online"
                  src="https://randomuser.me/api/portraits/women/12.jpg"
                  alt="Contact Image"
                />
              </div>
              <div class="text">
                <h4>{{ user.username }}</h4>
                <p>
                  Last seen : 5 minute ago
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8">
    <div class="card shadow mb-4">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          {{ selectedUser.username }}
        </h6>
      </div>
      <div
        id="card-body-chat-area"
        class="card-body chat-area"
        style="
          height: 68vh;
          overflow: auto !important;
          padding: 0px !important;
        "
      >
        <div class="chat" id="message-content">
          <div *ngFor="let message of MessagesArray">
            <div *ngIf="message.MessageReceive">
              <div class="msg">
                <div class="img">
                  <img
                    src="https://randomuser.me/api/portraits/women/12.jpg"
                    alt="User Image"
                  />
                  <p>{{ message.SendDate | date: "short" }}</p>
                </div>
                <div class="text">
                  <p class="message-content-p">
                    <strong style="display: block;">{{
                      message.UserName
                    }}</strong>
                    {{ message.MessageContent }}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="!message.MessageReceive">
              <div class="outgoing msg">
                <div class="img">
                  <img
                    src="https://randomuser.me/api/portraits/women/12.jpg"
                    alt="User Image"
                  />
                  <p>{{ message.SendDate | date: "short" }}</p>
                </div>
                <div class="text">
                  <p class="message-content-p">
                    {{ message.MessageContent }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer send-message">
        <input
          type="text"
          placeholder="Type something to send..."
          [value]="txtMessage"
          (input)="txtMessage = $event.target.value"
          (keydown.enter)="sendMessage()"
        />
        <div class="icon">
          <button class="btn btn-outline-primary" (click)="sendMessage()">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Of chat -->
