.card-body::-webkit-scrollbar {
  width: 3px !important;
}

.card-body::-webkit-scrollbar-track {
  background: #d6dee7 !important;
}

.card-body::-webkit-scrollbar-thumb {
  background: #4e73df !important;
}

  .card-body::-webkit-scrollbar-thumb:hover {
    background: #4e73df !important;
  }

.contacts-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts {
  flex: 1;
}

  .contacts .contact {
    display: flex;
    border-radius: 5px;
  }

    .contacts .contact:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .contacts .contact .img {
      padding: 10px;
    }

      .contacts .contact .img img {
        height: 60px;
        border-radius: 50%;
      }

    .contacts .contact .text {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .contacts .contact .text h4 {
        font-size: 17px;
      }

      .contacts .contact .text p {
        font-size: 12px;
      }
.chat::-webkit-scrollbar {
  width: 3px !important;
}

.chat::-webkit-scrollbar-track {
  background: #d6dee7 !important;
}

.chat::-webkit-scrollbar-thumb {
  background: #4e73df !important;
}

  .chat::-webkit-scrollbar-thumb:hover {
    background: #4e73df !important;
  }

.chat-area {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

  .chat-area .header {
    display: flex;
    flex-basis: 60px;
  }

    .chat-area .header h3 {
      font-size: 20px;
      padding: 0 10px;
      margin: auto;
    }

  .chat-area .chat {
    flex: 1;
    overflow: auto;
  }

    .chat-area .chat .msg {
      display: flex;
      margin: 20px;
    }

.msg .img {
  padding: 10px;
}

  .msg .img img {
    height: 50px;
    border-radius: 50%;
  }

  .msg .img p {
    font-size: 10px;
    text-align: center;
  }

.msg .text {
  max-width: 50%;
  display: flex;
}

  .msg .text p {
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px; /*ben ekledim*/
    background-color: ivory;
    word-break:break-word;
  }

.chat-area .chat .outgoing {
  flex-direction: row-reverse;
}

  .chat-area .chat .outgoing .text .message-content-p {
    background-color: lightskyblue !important;
    word-break:break-word;
  }

.send-message input {
  border: none;
  flex: 1;
  font-size: 15px;
  color: #757579;
}

.send-message .icon {
  flex-basis: 50px;
  display: flex;
  margin: auto !important;
  padding-left: 20px;
  font-size: 25px !important;
  color: #4e73df;
}

  .send-message .icon:hover {
    color: #f8f8fa;
  }

  .send-message .icon i {
    margin: auto !important;
    font-size: 25px !important;
  }

.send-message {
  flex-basis: 50px;
  background-color: white;
  display: flex;
}
